@import url(/css/navbar.css);
@import url(/css/animations.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* Making header with typewriter animation */
#typewriter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5rem;
}