@import url(/css/navbar.css);
@import url(/css/animations.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* Making header with typewriter animation */
#header {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-right: .15em solid blue;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}